@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900&display=swap');
.font-variation{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    position: relative;
      .word{
        display: flex;
        font-size: 120px;
        line-height: 110px;
        transform: scaleX(1.5);
      }
      
      .word p{
        margin: 0;
        font-family: 'Archivo', sans-serif;
        font-weight: 500;
        font-stretch: 90%;
      }
}
